@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
}
nav {
  background-color: #3432A0;
  text-align: center;
}
nav .center-menu {
  font-family: 'Roboto Slab', serif;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  text-transform: uppercase;
}
#nav-mobile{
  /*transform: translateX(-10%) !important;*/
}
.nav-logo {
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-top: 2%;
}
nav .nav-patria{
  background-color: transparent;
  box-shadow: none;
}

.padding {
  padding-bottom: 15%;
}
/* About us */

#slider-patria .slide-title {
  font-family: 'Roboto Slab', serif;
  color: #fff;
  font-size: 3em;
}

#slider-patria .slide-subtitle {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
}

#slider-patria .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 3%;
}

#form-gallery .search {
  height: 35px;
}

#form-gallery h4 {
  font-family: 'Roboto Slab', serif;
}

#about

#about .title {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 100vw;
}
#about .title h1 {
  padding-top: 5%;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #3432A0;
  font-size: 4em;
}
#about .title h1:after {
  content: '';
  background-color: #A2A2A2;
  display: block;
  width: 5rem;
  height: .5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
#about .containtext {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 70%;
  text-align: center;
}
#about .containtext span {
  font-family: 'Roboto', sans-serif;
  color: #3432A0;
}

/*Iconos*/
#icos .icos {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#icos .icontainer {
  margin-top: 15%;
  margin-bottom: 15%;
}

#icos .icontainer span {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 1.2em;
  margin-top: 5%;
  text-align: center;
  display: block;
}

#icos .centa {
  border-left: #95989A;
  border-right: #95989A;
  border-bottom: white;
  border-top: white;
  border-width: 1px;
  border-style: solid;
}

/*Beneficios*/

#beneficios {
  padding-bottom: 50px;
}

#beneficios .graybg {
  background-color: #F5F2F2;
  height: auto;
}
#beneficios .title h3 {
  padding-top: 3%;
  padding-left: 3%;
  font-family: 'Roboto Slab', serif;
  text-align: left;
  color: #3432A0;
  font-size: 3.5em;
  text-transform: uppercase;
}
#beneficios .title h3:after {
  content: '';
  background-color: #A2A2A2;
  display: block;
  width: 4rem;
  height: .5rem;
  margin-top: 1rem;
}

#beneficios .text-container {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding-left: 3%;
}

#beneficios .list-col {
  width: 50%;
  float: left;
}

.list-col ul {
  padding-left: 30px;
  margin-bottom: 30px;
}

#beneficios .bg-childs {
background-image: url('/img/childs.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 50%;
}

#servicios {
  padding-top: 5%;
}

#servicios .servicios-title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2em;
  color: #3432A0;
  text-align: center;
}

#servicios .text-container {
  font-family: 'Roboto', sans-serif;
  font: 1em;
  color: #000;
  text-align: center;
  margin-top: 3%
}

#servicios .line {
  background-color: #A2A2A2;
  display: block;
  width: 4rem;
  height: .5rem;
  margin: 0 auto;
}

#servicios .service-img {
  margin: 0 auto;
  display: block;
}

#carousel2 {
  margin-top: 7%;
  margin-bottom: 5%;
}

#carousel2 .icon-caru {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
}

#carousel2 .text-caru {
  display: inline-block;
}

#carousel2 .title-caru {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.5em;
  color: #3432A0;
}

#carousel1 .p {
  font-family: 'Roboto';
  font-size: 1em;
}

#header-maternal .maternalbg {
  background-image: url('/img/maternalg.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-maternal h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

#header-preescolar .preescolarbg {
  background-image: url('/img/preescolar-bg.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-preescolar h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

#header-preparatoria .preparatoriabg {
  background-image: url('/img/bg-preparatoria.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-preparatoria h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

#header-secundaria h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

#header-secundaria .secundariabg {
  background-image: url('/img/bg-secundaria.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-secundaria h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

#header-primaria .primariabg {
  background-image: url('/img/bg-primaria.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-primaria h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}



#welcome-secundaria .content-maternal {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#welcome-preparatoria .content-maternal {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#welcome-preescolar .content-maternal {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#welcome-primaria .content-maternal {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#welcome-maternal .content-maternal {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
#maternal2 .content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
}

#maternal2 .p-top-bottom {
  margin-top: 5%;
  margin-bottom: 5%;
}

#maternal2 h2 {
  color: #3432A0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#maternal2 .bluebackground {
  background-color: #3432A0 !important;
}

#maternal2 .graybg {
  background-color: #ddd !important;
}

#maternal2 .font-white {
  color: #fff !important;
  font-family: 'Roboto Slab', sans-serif;
  font-family: 'Roboto Slab', sans-serif;
  border-color: #fff !important;
}

#maternal2 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#maternal2 .niveles-content {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
}

#maternal2 .content2 {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  margin-left: 5%;
  width: 60%;
}
#maternal2 .content3 {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
}
#maternal2 .line {
  background-color: #A2A2A2;
  display: block;
  width: 4rem;
  height: .5rem;
  margin-left: 5%;
  margin-bottom: 5%;
}
#maternal2 .line-center {
  background-color: #A2A2A2;
  display: block;
  width: 4rem;
  height: .5rem;
  margin: 0 auto;
}
#maternal2 h4 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 1.4rem;
  font-weight: bold;
}

#maternal2 .content-nivel {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
}
#maternal2 .p-top-bottom {
  padding-top: 5%;
  padding-bottom: 5%;
}

#maternal2 .space-top-bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0;
}

#maternal2 .p-top-bottom2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

#maternal2 .bg-nivel-contacto {
  background-image: url('/img/bg-contact-level.jpg');
  background-size: cover;
  height: 400px;
  margin: 0;
}

#maternal2 .white-h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
}

#maternal2 .content-white {
  color: #fff;
  font-size: 1.2rem
}

#maternal2 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10%;
}

#preescolar2 .content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
}

#preescolar2 .p-top-bottom {
  margin-top: 5%;
  margin-bottom: 5%;
}

#preescolar2 h2 {
  color: #3432A0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#preescolar2 .bluebackground {
  background-color: #3432A0 !important;
}

#preescolar2 .graybg {
  background-color: #BFBFBF !important;
}

#preescolar2 .font-white {
  color: #fff !important;
  font-family: 'Roboto Slab', sans-serif;
  font-family: 'Roboto Slab', sans-serif;
  border-color: #fff !important;
}

#preescolar2 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#preescolar2 .content2 {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  margin-left: 5%;
  width: 60%;
}

#preescolar2 .line {
  background-color: #A2A2A2;
  display: block;
  width: 4rem;
  height: .5rem;
  margin-left: 5%;
  margin-bottom: 5%;
}

#preescolar2 h4 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 1.4rem;
  font-weight: bold;
}

#preescolar2 .content-nivel {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #fff;
}
#preescolar2 .p-top-bottom {
  padding-top: 5%;
  padding-bottom: 5%;
}

#preescolar2 .space-top-bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0;
}

#preescolar2 .p-top-bottom2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

#preescolar2 .bg-nivel-contacto {
  background-image: url('/img/bg-contact-level.jpg');
  background-size: cover;
  height: 400px;
  margin: 0;
}

#preescolar2 .white-h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
}

#preescolar2 .content-white {
  color: #fff;
  font-size: 1.2rem
}

#preescolar2 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10%;
}

#primaria2 .content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
}

#primaria2 .p-top-bottom {
  margin-top: 5%;
  margin-bottom: 5%;
}

#primaria2 h2 {
  color: #3432A0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#primaria2 .bluebackground {
  background-color: #3432A0 !important;
}

#primaria2 .graybg {
  background-color: #BFBFBF !important;
}

#primaria2 .font-white {
  color: #fff !important;
  font-family: 'Roboto Slab', sans-serif;
  font-family: 'Roboto Slab', sans-serif;
  border-color: #fff !important;
}

#primaria2 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 2rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#primaria2 .content2 {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  margin-left: 5%;
  width: 100%;
}

#primaria2 .line {
  background-color: #A2A2A2;
  display: block;
  width: 4rem;
  height: .5rem;
  margin-left: 5%;
  margin-bottom: 5%;
}

#primaria2 h4 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 1.4rem;
  font-weight: bold;
}

#primaria2 .content-nivel {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #fff;
}
#primaria2 .p-top-bottom {
  padding-top: 5%;
  padding-bottom: 5%;
}

#primaria2 .space-top-bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0;
}

#primaria2 .p-top-bottom2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

#primaria2 .bg-nivel-contacto {
  background-image: url('/img/bg-contact-level.jpg');
  background-size: cover;
  height: 400px;
  margin: 0;
}

#primaria2 .white-h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
}

#primaria2 .content-white {
  color: #fff;
  font-size: 1.2rem
}

#primaria2 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10%;
}

#secundaria2 .content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
}

#secundaria2 .p-top-bottom {
  margin-top: 5%;
  margin-bottom: 5%;
}

#secundaria2 h2 {
  color: #3432A0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#secundaria2 .bluebackground {
  background-color: #3432A0 !important;
}

#secundaria2 .graybg {
  background-color: #BFBFBF !important;
}

#secundaria2 .font-white {
  color: #fff !important;
  font-family: 'Roboto Slab', sans-serif;
  font-family: 'Roboto Slab', sans-serif;
  border-color: #fff !important;
}

#secundaria2 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#secundaria2 .content2 {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  margin-left: 5%;
  width: 100%;
}

#secundaria2 .line {
  background-color: #A2A2A2;
  display: block;
  width: 4rem;
  height: .5rem;
  margin-left: 5%;
  margin-bottom: 5%;
}

#secundaria2 h4 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 1.4rem;
  font-weight: bold;
}

#secundaria2 .content-nivel {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #fff;
}
#secundaria2 .p-top-bottom {
  padding-top: 5%;
  padding-bottom: 5%;
}

#secundaria2 .space-top-bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0;
}

#secundaria2 .p-top-bottom2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

#secundaria2 .bg-nivel-contacto {
  background-image: url('/img/bg-contact-level.jpg');
  background-size: cover;
  height: 400px;
  margin: 0;
}

#secundaria2 .white-h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
}

#secundaria2 .content-white {
  color: #fff;
  font-size: 1.2rem
}

#secundaria2 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10%;
}


#secundaria2 .content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 60%;
}

#preparatoria2 .p-top-bottom {
  margin-top: 5%;
  margin-bottom: 5%;
}

#preparatoria2 h2 {
  color: #3432A0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#preparatoria2 .bluebackground {
  background-color: #3432A0 !important;
}

#preparatoria2 .graybg {
  background-color: #BFBFBF !important;
}

#preparatoria2 .font-white {
  color: #fff !important;
  font-family: 'Roboto Slab', sans-serif;
  font-family: 'Roboto Slab', sans-serif;
  border-color: #fff !important;
}

#preparatoria2 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#preparatoria2 .content2 {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  margin-left: 5%;
  width: 100%;
}

#preparatoria2 .line {
  background-color: #A2A2A2;
  display: block;
  width: 4rem;
  height: .5rem;
  margin-left: 5%;
  margin-bottom: 5%;
}

#preparatoria2 h4 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 1.4rem;
  font-weight: bold;
}

#preparatoria2 .content-nivel {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #fff;
}
#preparatoria2 .p-top-bottom {
  padding-top: 5%;
  padding-bottom: 5%;
}

#preparatoria2 .space-top-bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0;
}

#preparatoria2 .p-top-bottom2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

#preparatoria2 .bg-nivel-contacto {
  background-image: url('/img/bg-contact-level.jpg');
  background-size: cover;
  height: 400px;
  margin: 0;
}

#preparatoria2 .white-h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
}

#preparatoria2 .content-white {
  color: #fff;
  font-size: 1.2rem
}

#preparatoria2 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10%;
}



#welcome-beneficios .niveles-beneficios {
  font-family: 'Roboto';
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 2%;
}
#welcome-beneficios .line {
  border: solid 5px;
  color: #3432A0;
  width: 5%;
  margin: 0 auto;

}
#header-beneficios .beneficiosbg {
  background-image: url('/img/bg-beneficios.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-beneficios h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

#header-niveles .nivelesbg {
  background-image: url('/img/bg-niveles.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-niveles h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

#map {
  height: 500px;
}
#header-contacto .nivelesbg {
  background-image: url('/img/bg-niveles.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-contacto h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}

#welcome-niveles h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
}

#welcome-niveles .niveles-content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
}

#beneficios1 .p-top-bottom {
  margin-top: 5%;
}

#beneficios1 ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 2%;
}

#beneficios1 li {
  font-family: 'Roboto', sans-serif;
}
#beneficios1 li::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #3432A0;;
  border-radius: 50%;
  margin-bottom: 2px;
}

#beneficios1 .maternal-bg {
  background-image: url('/img/beneficios-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

#beneficios1  h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#beneficios1  .line {
  border: solid 2px;
  width: 5%;
  color: #ddd;
  margin-left: 5%;
  margin-bottom: 5%;
}

#beneficios1  .niveles-content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 80%;
  margin-left: 5%;
  margin-top: 15%;
}

#beneficios1 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}
#beneficios2 .maternal-bg {
  background-image: url('/img/beneficios2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

#beneficios2 .p-top-bottom {

}



#beneficios2 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#beneficios2 .line {
  border: solid 2px;
  width: 5%;
  color: #ddd;
  margin-left: 5%;
  margin-bottom: 15%;
}

#beneficios2 .niveles-content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 80%;
  margin-left: 5%;
  margin-top: 15%;
}

#beneficios2 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}

#beneficios2 ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 2%;
}

#beneficios2 li {
  font-family: 'Roboto', sans-serif;
}
#beneficios2 li::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #3432A0;;
  border-radius: 50%;
  margin-bottom: 2px;
}

#beneficios3 .maternal-bg {
  background-image: url('/img/beneficios3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

#beneficios3 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#beneficios3 .line {
  border: solid 2px;
  width: 5%;
  color: #ddd;
  margin-left: 5%;
  margin-bottom: 5%;
}

#beneficios3 .niveles-content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 80%;
  margin-left: 5%;
  margin-top: 10%;
}

#beneficios3 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}

#beneficios3 ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 2%;
}

#beneficios3 li {
  font-family: 'Roboto', sans-serif;
}
#beneficios3 li::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #3432A0;;
  border-radius: 50%;
  margin-bottom: 2px;
}

#niveles1 .maternal-bg {
  background-image: url('/img/maternal-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}


#niveles1 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#niveles1 .line {
  border: solid 2px;
  width: 5%;
  color: #ddd;
  margin-left: 5%;
  margin-bottom: 5%;
}

#niveles1 .niveles-content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 80%;
  margin-left: 5%;
}

#niveles1 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}

#niveles2 .maternal-bg {
  background-image: url('/img/preprimaria-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

#niveles2 .p-top-bottom {
  padding-top: 5%;
  padding-bottom: 5%;
}

#niveles2 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#niveles2 .line {
  border: solid 2px;
  width: 5%;
  color: #ddd;
  margin-left: 5%;
  margin-bottom: 5%;
}

#niveles2 .niveles-content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 80%;
  margin-left: 5%;
}

#niveles2 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}
#niveles3 .maternal-bg {
  background-image: url('/img/primaria-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

#niveles3 .p-top-bottom {
  padding-top: 5%;
  padding-bottom: 5%;
}

#niveles3 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#niveles3 .line {
  border: solid 2px;
  width: 5%;
  color: #ddd;
  margin-left: 5%;
  margin-bottom: 5%;
}

#niveles3 .niveles-content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 80%;
  margin-left: 5%;
}

#niveles3 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}
#niveles4 .maternal-bg {
  background-image: url('/img/secundaria-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

#niveles4 .p-top-bottom {
  padding-top: 5%;
  padding-bottom: 5%;
}

#niveles4 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#niveles4 .line {
  border: solid 2px;
  width: 5%;
  color: #ddd;
  margin-left: 5%;
  margin-bottom: 5%;
}

#niveles4 .niveles-content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 80%;
  margin-left: 5%;
}

#niveles4 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}
#niveles5 .maternal-bg {
  background-image: url('/img/preparatoria-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}

#niveles5 .p-top-bottom {
  padding-top: 5%;
  margin-bottom: 0;
}

#niveles5 h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 3rem;
  margin-left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
}

#niveles5 .line {
  border: solid 2px;
  width: 5%;
  color: #ddd;
  margin-left: 5%;
  margin-bottom: 5%;
}

#niveles5 .niveles-content {
  font-family: 'Roboto';
  font-size: 1rem;
  color: #000;
  width: 80%;
  margin-left: 5%;
}

#niveles5 .btn-patria {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  background-color: #3432a0;
  margin-top: 5%;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
}

#pre-footer {
  text-align: center;
}

#pre-footer .nomargin {
  margin: 0;
}

#pre-footer .graybg {
  background-color: #F5F2F2;
  height: auto;
}

#pre-footer .text-caru {
  display: inline-block;
}

#pre-footer .text-caru2 {
  display: inline-block;
}

#pre-footer .title-caru {
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.5em;
  color: #3432A0;
}

#pre-footer .icon-caru {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
}
#pre-footer .padding {
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer-patria {
  background-color: #3432A0;
}

.footer-title{
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  color: #fff;
}

.footer-logo {
  max-width: 180px;
}
/*Nosotros*/

#header-nosotros .nosotrosbg {
  background-image: url('/img/quienes-somos.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-nosotros h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
}
#historia h2{
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
#historia .nos-content {
  padding-bottom: 3%;
}
#nos-mi-vi  h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
#nos-mi-vi .nos-content {
  font-family: 'Roboto', sans-serif;
  color: 000;
}
/*modelos*/

#header-modelo .modelobg {
  background-image: url('/img/modelo-bg.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-modelo h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
}

#intro-mod h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
}

#bullets-modelo ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 2%;
}
#bullets-modelo li {
  font-family: 'Roboto', sans-serif;
}
#bullets-modelo li::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #3432A0;;
  border-radius: 50%;
  margin-bottom: 2px;
}
/*Galería*/

#galeria {
  box-sizing: border-box;
}
#galeria .photo {
  padding: 2% 2% 2% 2% ;
}
#galeria .photo img {
  width: 350px;
}

/*PRINCIPIOS Y VALORES*/

#header-principios .principiosbg {
  background-image: url('/img/principios-bg.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-principios h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
}

#principios  h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
#principios .prin-cont {
  font-family: 'Roboto', sans-serif;
  color: 000;
}
#principios-bullets {
  padding-top: 5%;
}
#principios-bullets  h2 {
relacionespublicas@colegiopatria.com.mx
}
#principios-bullets ul li {
  list-style-type: none;
}
#principios-bullets li {
  font-family: 'Roboto', sans-serif;
}
#principios-bullets li::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #3432A0;;
  border-radius: 50%;
  margin-bottom: 2px;
}

#info-contact h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #3432A0;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

#info-contact {
  margin-top: 5%;
  margin-bottom: 5%;
}

#form-patria .btn-patria {
font-family: 'Roboto', sans-serif;
color: #fff;
font-size: 1em;
border-radius: 20px;
background-color: #3432a0;
margin-left: 3%;
}

#header-boletines .boletinesbg {
  background-image: url('../img/boletines_bg.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-boletines h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
}

#header-talleres .talleresbg {
  background-image: url('../img/talleres-bg.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-talleres h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
}

#header-trabajo .trabajobg {
  background-image: url('../img/trabaja_con_nosotros.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-trabajo h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
}


#header-eventos .eventosbg {
  background-image: url('../img/eventosculturales-bg.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-eventos h1{
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
}

#header-planteles .plantelesbg {
  background-image: url('/img/planteles.jpg');
  background-size: cover;
  height: 500px;
  margin-bottom: 5%;
}

#header-planteles h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
}

#plantel-angel h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #3432A0;
}


#plantel-angel .planteles-content {
  width: 60%;
}
#plantel-iturbide .planteles-content {
  width: 60%;
  margin-left: 5%;
}

#plantel-iturbide h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 3rem;
  color: #3432A0;
  margin-left: 5%;
}


.container {
    margin: 0 auto;
    max-width: 1280px !important;
    width: 90% !important;
}

main {
  display: block;
  box-sizing: border-box;
}

/*Media queries*/
/*Grid*/
@media screen and (max-width: 1044px) and (min-width: 993px) {
  main{
    padding-left: 29.5%;
  }
}

@media screen and (max-width: 1120px) and (min-width: 1045px) {
  main{
    padding-left: 27%;
  }
}

@media screen and (max-width: 1210px) and (min-width: 1121px) {
  main{
    padding-left: 25%;
  }
}

@media screen and (max-width: 1314px) and (min-width: 1210px) {
  main{
    padding-left: 23%;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1314px) {
  main{
    padding-left: 21%;
  }
}

@media screen and (max-width: 1580px) and (min-width: 1440px) {
  main{
    padding-left: 19%;
  }
}

@media screen and (max-width: 1778px) and (min-width: 1581px) {
  main{
    padding-left: 17%;
  }
}

@media screen and (min-width: 1778px) {
  main{
    padding-left: 15%;
  }
}

/*Fonts*/
@media screen and (max-width: 1044px) and (min-width: 993px) {
  nav ul a {
    font-size: 0.9em;
    padding: 0 12px;
  }
}

@media screen and (max-width: 1101px) and (min-width: 993px) {
  #niveles5 h3 {
    font-size: 2chom.5em;
  }
}

@media screen and (max-width: 1314px) and (min-width: 993px) {
  #servicios .servicios-title {
    font-size: 1.4em;
  }
}
